[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/ReactiveCocoa"]
	path = Carthage/Checkouts/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Carthage/Checkouts/ReactiveBind"]
	path = Carthage/Checkouts/ReactiveBind
	url = https://github.com/mpurland/ReactiveBind.git
[submodule "Carthage/Checkouts/Swiftz"]
	path = Carthage/Checkouts/Swiftz
	url = https://github.com/typelift/Swiftz.git
[submodule "Carthage/Checkouts/Tyro"]
	path = Carthage/Checkouts/Tyro
	url = https://github.com/typelift/Tyro.git
